<p>
Scott Cazan is a Los Angeles based composer, performer, creative coder, and sound artist working in fields such as experimental electronic music, sound installation, chamber music, and software art where he explores cybernetics, aesthetic computing, and emergent forms resulting from human interactions with technology. His work often involves the use of feedback networks where misunderstanding and chaotic elements act as a catalyst for emergent forms in art and music.
</p><p>
Scott has performed and received numerous commissions with international organizations such as The LA County Museum of Art, MOCA (Los Angeles), Issue Project Room (NY), Feldstarke International (with CENTQUATRE, PACT Zollverein, and Calarts), Ausland (Berlin), Art Cologne, Ensemble Zwischentöne, The University of Art in Berlin, Toomai String Quintet, Southern Exposure (San Francisco), Guapamacátaro (MX), Umbral (MX), the Media Mix Festival (Monterrey), the BEAM Festival (UK), REDCAT (Los Angeles), Machine Project and many others. He has collaborated and performed alongside a variety of artists such as Ulrich Krieger, Mark Trayle, Michael Pisaro, Carmina Escobar, Carole Kim, Jana Papenbroock, and many others.
</p><p>
As an active educator he has taught at institutions such as the University of California, Santa Barbara, Art Center College of Design, and is currently a special faculty member of the California Institute of the Arts where he teaches topics on the intersections between art and electronics.
</p><p>
His music can be heard on <a href="http://khalija.org" target="_BLANK">Khalija Records</a>, <a href="http://careof.co" target="_BLANK">CareOf Editions</a> and <a href="http://www.wandelweiser.de/" target="_BLANK">Edition Wandelweiser</a>.
</p>
<p>
<a href="http://scottcazan.tumblr.com" target="_BLANK">blog</a>, 
<a href="http://soundcloud.com/scottcazan" target="_BLANK">soundcloud</a>, 
<a href="http://twitter.com/scazan" target="_BLANK">@scazan</a>, 
<a href="https://www.facebook.com/scott.cazan" target="_BLANK">facebook</a>, 
<a href="mailto:scottcazan@gmail.com" target="_BLANK">email</a>
</p>
<p>
	<img src="/img/scott-cazan-performing.jpg">
</p>

<h3>Press</h3>
<p><a href="http://www.latimes.com/entertainment/arts/la-et-cm-dog-star-orchestra-review-20140606-column.html" target="_blank">LA Times review of Dogstar 10</a> - "I'm not sure that the kind of mind altering that Cazan is up to is legal — it is best not to drive right away — but it is most pleasurable"</p>
<p><a href="http://improv-sphere.blogspot.com/2014/07/west-coast-soundings.html" target="_blank">A review of West Coast Soundings featuring my piece "Outliers" (in French)</a></p>
<p><a href="http://olewnick.blogspot.com/2014/06/various-west-coast-soundings-edition.html" target="_blank">Another review of West Coast Soundings on "Just Outside"</a></p>
<p><a href="http://still-single.tumblr.com/post/75524490767/scott-cazan-swallow-lp-care-of-editions" target="_blank">"Still Single's" (Dusted Magazine) review of Swallow</a> - "...great, exhausting stuff..." and "terror-inducing"</p>
<p><a href="http://pitchfork.com/features/staff-lists/9294-guest-list-best-of-2013/" target="_blank">Swallow featured in Pitchfork's "Guest List: Best of 2013"</a></p>
<p><a href="http://artforum.com/inprint/issue=201310" target="_blank">ARTFORUM's December issue: "Best of 2013" featuring Swallow</a></p>
<p><a href="http://olewnick.blogspot.com/2013/01/scott-cazan-swallow-care-of-cazan-is.html" target="_blank">Just outside's review of Swallow</a>&nbsp;</p>
<p><a href="http://improv-sphere.blogspot.fr/2013/12/scott-cazan-swallow-lp.html">improv sphere - Julien Héraud reviews Swallow</a></p>
<p><a href="http://www.vitalweekly.net/905.html" target="_blank">Vital Weekly's review of Swallow</a></p>
<p><a href="http://www.sequenza21.com/2014/05/electroacoustic-concert-in-santa-monica/" target="_blank">Sequenza 21's review of live performance of Swallow</a> - "...beautiful and invitingly mysterious."</p>
<p><a href="http://www.laweekly.com/publicspectacle/2012/02/21/infantcore-babies-create-experimental-music-in-jam-session-at-machine-project" target="_blank">Infantcore in the LA Weekly</a></p>
<p><a href="http://www.newmusicbox.org/articles/tilting-the-frame-notes-on-an-alternative-education/" target="_blank">An article from New Music Box with a small writeup of InfantCore</a></p>

