<p>
Scott Cazan is a Los Angeles based composer, performer, creative coder, and sound artist working in fields such as experimental electronic music, sound installation, chamber music, and software art where he explores cybernetics, aesthetic computing, and emergent forms resulting from human interactions with technology. His work often involves the use of feedback networks where misunderstanding and chaotic elements act as a catalyst for emergent forms in art and music.
</p><p>
Scott has performed and received numerous commissions with international organizations such as The LA County Museum of Art, MOCA (Los Angeles), Issue Project Room (NY), Feldstarke International (with CENTQUATRE, PACT Zollverein, and Calarts), Ausland (Berlin), Art Cologne, Ensemble Zwischentöne, The University of Art in Berlin, Toomai String Quintet, Southern Exposure (San Francisco), Guapamacátaro (MX), Umbral (MX), the Media Mix Festival (Monterrey), the BEAM Festival (UK), REDCAT (Los Angeles), Machine Project and many others. He has collaborated and performed alongside a variety of artists such as Ulrich Krieger, Mark Trayle, Michael Pisaro, Carmina Escobar, Carole Kim, Jana Papenbroock, and many others.
</p><p>
As an active educator he has taught at institutions such as the University of California, Santa Barbara, Art Center College of Design, and is currently a special faculty member of the California Institute of the Arts where he teaches topics on the intersections between art and electronics.
</p><p>
His music can be heard on Khalija Records and CareOf Editions
</p>
<p>
<a href="http://scottcazan.tumblr.com" target="_BLANK">blog</a>, 
<a href="http://twitter.com/scazan" target="_BLANK">@scazan</a>, 
<a href="https://www.facebook.com/scott.cazan" target="_BLANK">facebook</a>
</p>
<p>
	<img src="/img/scott-cazan-performing.jpg">
</p>

