
<div id="cv">
	<header class="contactInfo">
	</header>

	<h1>Curriculum Vitae</h1>

	<section class="CVEducation">
		<h3>Education</h3>
		<div class="CVEducationEntry">
			<span class="degree">Master of Fine Arts in Experimental Sound Practices</span><br>
			<span class="school">California Institute of the Arts, 5/2009</span><br>
			<span class="teachers">Primary studies with Mark Trayle, Michael Pisaro, Sara Roberts, Ulrich Krieger</span>
		</div>
		<div class="CVEducationEntry">
			<span class="degree">Bachelor of Arts in Music Composition</span><br>
			<span class="school">University of California, Santa Barbara, College of Creative Studies, 6/2005</span><br>
			<span class="teachers">Studies with Jeremy Haladyna, MarkDavid Hosale, Curtis Roads</span>
			<br><span class="honors">Magna Cum-Laude</span>
		</div>
	</section>
	<section class="CVExperiences">
		<h3>Experience</h3>
	</section>
	<section class="CVAcademics">
		<h3>Academic</h3>
	</section>
	<section class="CVEvents">
		<h3>Performances</h3>
	</section>
	<section class="CVPublications">
		<h3>Publications and Recordings</h3>
	</section>
</div>
