<div class="menu">
	<ul>
		<li class="music">music</li>
		<li class="scores">scores</li>
		<li class="installation">installation</li>
		<li class="collaborations">collaborations</li>
		<li class="code">code</li>
		<li class="all">all</li>
	</ul>
</div>
<div class="worksContent">
	<div class="work category-music category-scores">
		<div class="title">
			West Coast Soundings
		</div>
		<div class="image">
			<img src="http://www.wandelweiser.de/_e-w-records/bilder/ewr1404-05.jpg"/>
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237592302&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A compilation of works from the West Coast of the US on Edition Wandelweiser and available in the US through ErstDist.
			</p><p>
			My work "Outliers" is beautifully performed by Lucia Mense - bass recorder, Frank Gratkowski - alto saxophone, Seth Josel - electric guitar, and Anton Lukoszevieze - violoncello
			</p>
		</div>
		<div class="video">
		</div>
	</div>

	<div class="work category-music">
		<div class="title">
			Swallow
		</div>
		<div class="image">
			<img src="http://scottcazan.com/images/scott-cazan-swallow.jpg"/>
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/78045514&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A new 45rpm vinyl released on CareOf Editions in Berlin.
			</p><p>
			It can be purchased and previewed here or via a number of European distributors. If you are in Los Angeles, it can also currently be purchased at Vacation Vinyl.
			</p>
		</div>
	</div>
	<div class="work category-music">
		<div class="title">
			Network Dilation
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237592302&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A piece for feedback network and violin in which the output of the network is temporally dilated (read at a slower rate) then fed back into the network.
			</p><p>
			<a href="http://vimeo.com/42746862" target="_BLANK">Click here to watch video from a live performance </a>
			</p>
		</div>
	</div>
	<div class="work">
		<div class="title">
			Swallow
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/78045514&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A new 45rpm vinyl released on CareOf Editions in Berlin.
			</p><p>
			It can be purchased and previewed here or via a number of European distributors. If you are in Los Angeles, it can also currently be purchased at Vacation Vinyl.
			</p>
		</div>
	</div>
	<div class="work">
		<div class="title">
			Network Reflex
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237592302&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A feedback network in which a laptop and an iPad run custom listening software (written in SuperCollider). Each one produces sound based on the other's output. By physically inserting myself into the feedback loop via a 1/4-inch jack inserted into my mouth, I can influence the network's response.
			</p>
		</div>
		<div class="video">
			<iframe src="https://player.vimeo.com/video/69391490?title=0&byline=0" width="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="work category-collaboration category-music">
		<div class="title">
			Reflex
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237592302&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A work created for music and dance in collaboration with <a href="http://christienelsondance.com/" target="_blank">Christie Nelson</a>.
			</p>
		</div>
		<div class="video">
			<iframe width="200" height="113" src="https://www.youtube.com/embed/xJWZPq0729U?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="work">
		<div class="title">
			Swallow
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/78045514&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A new 45rpm vinyl released on CareOf Editions in Berlin.
			</p><p>
			It can be purchased and previewed here or via a number of European distributors. If you are in Los Angeles, it can also currently be purchased at Vacation Vinyl.
			</p>
		</div>
	</div>
	<div class="work">
		<div class="title">
			Network Dilation
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237592302&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A piece for feedback network and violin in which the output of the network is temporally dilated (read at a slower rate) then fed back into the network.
			</p><p>
			<a href="http://vimeo.com/42746862" target="_BLANK">Click here to watch video from a live performance </a>
			</p>
		</div>
	</div>
	<div class="work">
		<div class="title">
			Swallow
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/78045514&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A new 45rpm vinyl released on CareOf Editions in Berlin.
			</p><p>
			It can be purchased and previewed here or via a number of European distributors. If you are in Los Angeles, it can also currently be purchased at Vacation Vinyl.
			</p>
		</div>
	</div>
	<div class="work">
		<div class="title">
			West Coast Soundings
		</div>
		<div class="media">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237592302&amp;color=000000&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
		</div>
		<div class="description">
			<p>
			A compilation of works from the West Coast of the US on Edition Wandelweiser and available in the US through ErstDist.
			</p><p>
			My work "Outliers" is beautifully performed by Lucia Mense - bass recorder, Frank Gratkowski - alto saxophone, Seth Josel - electric guitar, and Anton Lukoszevieze - violoncello
			</p>
		</div>
	</div>
</div>
