.event {
	float: left;

	margin-top: 20px;
	margin-bottom: 80px;

	width: 800px;

	.left {
		float: left;
		width: 140px;

		.date {
			font-weight: normal;
		}

	}

	.right {
		float: left;
		width: 600px;

		.title {
			font-size: 1.25rem;
			font-weight: normal;
		}

		.location {
			margin-bottom: 20px;
		}

		@media (min-width: 2000px) {
			.longDescription {
				width: 1500px;
			}
		}
	}

}

.event:first-of-type {
	margin-top: 0;
}
