#menu {
	font-size: 1.25em;
	text-transform: uppercase;
	/*line-height: 8.5rem;*/

	.link {
		cursor: e-resize;
		margin-bottom: 120px;
	}

	.link.about {
		width: 72px;
	}
	.link.works {
		width: 65px;
	}
	.link.events {
		width: 72px;
	}
	.link:hover {
		/*border-bottom: 1px dotted #DDD;*/
	}
	.link:active {
		color: #FAA;
		/*border-bottom: 1px dotted #FAA;*/
	}
}
