.works {
	.menu {
		position: fixed;
		width: 250px;
		top: 200px;
		left: 300px;
		
		li {
			margin-bottom: 48px;
			cursor: crosshair;
		}
		li:active {
			color: #FAA;
		}
		li.muted {
			text-decoration: line-through;
		}
		li.all.muted {
			text-decoration: none;
			color: #555;
		}
	}

	.worksContent {
		position: absolute;
		left: 250px;
		width: 790px; /* Needed this avoid scrollbars in 1080p. 800px ideally */

	}

	@media (min-width: 1560px) {
		.worksContent {
			width: 1000px;
		}
	}
	@media (min-width: 2000px) {
		.worksContent {
			width: 1500px;
		}
	}

}

		.work {
			width: 180px;
			padding: 10px;

			line-height: 1em;

			margin-bottom: 50px;
			
			p {
				margin-top: 25px;
				margin-bottom: 25px;
			}

			.title {
				font-weight: normal;
				margin-bottom: 25px;
			}

			.image img, .video {
				width: 100%;
				margin-bottom: 25px;
			}

			.media {
				min-height: 20px;
				margin-top: 25px;
				margin-bottom: 25px;

				.loader {
					color: #444;
				}
			}

			.description {
				font-size: 0.75em;
			}
		}
		.work {
			outline: 1px dotted #222;
		}
